<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create comments</title>
</head>
<body>
    <h1>form create a comment </h1>
    <form action="/comments" method="POST">
        <section>
            <label for="">username</label>
            <input type="text" name="username" placeholder="username" id="">
        </section>
        <section>
            <label for="">comment</label>
            <textarea name="text" id="" cols="30" rows="10"></textarea>  
        </section>
        <button type="submit">Submit</button>
    </form>

    <a href="/comments">back</a>
</body>
</html>